/* Main container for left and right partitions */
.main-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Apply Times New Roman to the entire application */
body {
  font-family: 'Times New Roman', Times, serif;
}


/* Left side: Login Form */
.left-pane {
  flex: 1; /* Takes up 50% of the screen */
  background-color: #f7f7f7; /* Light gray for contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Right side: Video */
.right-pane {
  flex: 1; /* Takes up 50% of the screen */
  background-color: #f7f7f7; /* White background */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* style the submit button */
input[type=submit] {
  background-color: #01b6de;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;  
}

input[type=submit]:hover {
  background-color: #03919e;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
